body {
display: flex;
justify-content: center;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

.people {
display: grid;
// grid-template-rows: 1fr 1fr;
grid-template-columns: 200px 200px;
grid-gap: 40px;

}

.people__person {
position: relative;
transition: transform 1s ease-in-out;
}

.people__person:hover{
transform: scale(1.2);
background-color:#EEEEEE;
}

@media (min-width: 1000px) {
.people {
grid-template-columns: repeat(4, 200px);}
}


.people__person-photo {
display: flex;
position: relative;

}



img {
box-sizing: border-box;
border-radius: 50%;
width: 100%;
transition: 1s;
}

.people__person:hover img {
border-radius: 25%;
}

.rank {
display: flex;
background-color: white;
width: 32px;
height: 32px;
line-height: 32px;
border-radius: 50%;
justify-content: center;
position: absolute;
top: 50%;
right: 10px;
font-weight: 700;
font-size: 16px;
color: #8B0000;
}

.name {
display: flex;
justify-content: center;
font-weight: 700;
font-size: 20px;
color: #2F4F4F;

}

.extra {
font-size: 18px;
text-align: center;
opacity: 0;
}

.people__person:hover .extra {
opacity: 1;
}

.sport::after {
content: ',';
}

.pay::before {
content: '$';
}

.pay::after {
content: 'M';
}